[submodule "Datepicker"]
	path = Datepicker
	url = https://github.com/ButinVladimir/Training-Datepicker.git
[submodule "Algorithms"]
	path = Algorithms
	url = https://github.com/ButinVladimir/Training-Algorithms.git
[submodule "Advanced Datepicker"]
	path = Advanced Datepicker
	url = https://github.com/ButinVladimir/Training-Advanced-Datepicker.git
