[submodule "Datepicker"]
	path = Datepicker
	url = https://github.com/ButinVladimir/Training-Datepicker.git
[submodule "Algorithms"]
	path = Algorithms
	url = https://github.com/ButinVladimir/Training-Algorithms.git
[submodule "Advanced Datepicker"]
	path = Advanced Datepicker
	url = https://github.com/ButinVladimir/Training-Advanced-Datepicker.git
[submodule "Template"]
	path = Template
	url = https://github.com/ButinVladimir/Training-Template.git
[submodule "Advanced Template"]
	path = Advanced Template
	url = https://github.com/ButinVladimir/Training-Advanced-Template.git
[submodule "WYSIWYG Editor"]
	path = WYSIWYG Editor
	url = https://github.com/ButinVladimir/Training-WYSIWYG-Editor.git
[submodule "Typescript Datepicker"]
	path = Typescript Datepicker
	url = https://github.com/ButinVladimir/Training-Typescript-Datepicker.git
	branch = master
[submodule "Typescript Advanced Datepicker"]
	path = Typescript Advanced Datepicker
	url = https://github.com/ButinVladimir/Training-Typescript-Advanced-Datepicker.git
	branch = master
[submodule "Typescript WYSIWYG Editor"]
	path = Typescript WYSIWYG Editor
	url = https://github.com/ButinVladimir/Training-Typescript-WYSIWYG-Editor.git
	branch = master
[submodule "DeviantART"]
	path = DeviantART
	url = https://github.com/ButinVladimir/Training-DeviantART-NET-Helper.git
[submodule "React Select2"]
	path = React Select2
	url = https://github.com/ButinVladimir/Training-Select2-React.git
[submodule "React Chat"]
	path = React Chat
	url = https://github.com/ButinVladimir/Training-Chat-React.git
